extends layout

block content
  div(id="realTime-balance" style="font-size: 120%;")
  <br>
  div(id="realTime-ltp")
  div(id="reference-values")
  <br>
  s
  h3 注文一覧
  div(id="orders")

  h3 約定一覧
  div(id="executions")

  h3 ログ
  div(id="logs")

  script(src="/assets/jquery-3.2.1.min.js")
  script(src="/javascripts/index.js")
